<li class="user-notification [$CSS_CLASS$]">
	[$ACTION_DIV$]
		<div  class="left-container">

			<div class="content">
				<div class="body-container">
					[$BODY$]
				</div>

				<div class="timestamp">
					<span class="portlet-icon">
					</span>

					<span>
						[$TIMESTAMP$]
					</span>
				</div>
			</div>
		</div>
	</div>
</li>